<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시판</title>'
    <head th:insert="~{template/styleCss :: css_copy}"></head>
    <!--<link rel="stylesheet", href="board/join.css">-->
</head>
<body>
<header th:insert="~{template/header :: header_copy}"></header>
<div class="border">
    <h1>게시판</h1>
    <!--        <th:block th:if="${error == '이미 사용 중인 아이디입니다.'}">-->
    <!--            <h2 th:text="${error}"></h2>-->
    <!--        </th:block>-->
    <div class="form-group">
        <label for="title">제목</label><br>
        <input type="text"
               class="form-control" id="title" name="title"
               th:value="${board.title}" readonly>
    </div>
    <div class="form-group">
        <label for="userName">작성자</label><br>
        <input type="text"
               class="form-control" id="userName" name="userName"
               th:value="${board.userName}" readonly>
    </div>
    <div class="form-group">
        <label for="createdTime">작성일자</label><br>
        <input type="text"
               class="form-control" id="createdTime" name="createdTime"
               th:value="${board.createdTime}" readonly>
    </div>
    <div class="form-group">
        <label for="readCount">조회수</label><br>
        <input type="text"
               class="form-control" id="readCount" name="readCount"
               th:value="${board.readCount}" readonly>
    </div>
    <div class="form-group">
        <label for="content">내용</label><br>
        <input type="text"
               class="form-control" id="content" name="content"
               th:value="${board.content}" readonly>
    </div>
    <div class="form-group">
        <label for="attachmentFile">첨부파일</label><br>
        <input type="text"
               class="form-control" id="attachmentFile" name="attachmentFile"
               th:value="${board.attachmentFile}" readonly>
    </div>
    <button th:onclick="|location.href='/board/${boardId}/edit'|">수정하기</button>
    <button th:onclick="|location.href='/board/${boardId}/delete'|" onclick="return confirm('정말로 삭제하겠습니까?')">삭제하기</button>
    <button th:onclick="|location.href='@{/board}'|">메인 게시판</button>
</div>
</body>
</html>