<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div class="border">

      <form>
          <th:block th:if="${member.isPresent()}">
              <h5 th:text="|비밀번호는 ${member.get().getUserPassword()} 입니다.|"></h5>
          </th:block>
          <th:block th:unless="${member.isPresent()}">
              <h5> 정보에 맞는 비밀번호를 찾을 수 없습니다.</h5>
              <a href = "/member/pwquiry">비밀번호 찾기</a>
          </th:block>
      </form>

      <a href="/">메인화면</a>
  </div>
</body>
</html>