div.image-wrapper {
    text-align: center;
    background: white;
}
a {
    text-decoration: none;
}
table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color)
}


td a img{
    height: 50px;
    max-width: 100%;
}

table.type01 .even{
    background: #efefef;
}

table.type02 td{
    background: #efefef;
}

table.table .even{
    background: #efefef;
}