<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--<style>-->
    <!--    header{-->
    <!--        background-color:#FFA500;-->
    <!--        height:120px;-->
    <!--        padding:5px;-->
    <!--        margin:5px;-->
    <!--        text-align: center;-->
    <!--    }-->
    <!--    header a{-->
    <!--        font-size :30px;-->
    <!--        font-weight: bold;-->
    <!--        color:white;-->
    <!--        padding:25px;-->
    <!--        margin:auto;-->
    <!--        text-decoration:none;-->
    <!--    }-->
    <!--</style>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="nav_container">

<!--    <a href = "/">-->
<!--        <h7 style ="color:white; margin:3px; font-size:40px; font-weight:bold;">베이직 스터디 카페</h7>-->
<!--    </a>-->

    <header class = "d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <img src="/img/logo.jpg">
                <img src="/img/logo.jpg" class="logo_image" width="40" height="40">
            </li>
            <li class="nav-item">
                <a href="/StudyCafeManagement/seat/register?user_id=${sessionScope.user_id}" class="nav-link">좌석</a>
            </li>
            <li class="nav-item">
                <a href="/StudyCafeManagement/product/ProductList" class="nav-link">상품</a>
            </li>
            <li class="nav-item">
                <a href="/StudyCafeManagement/board/BoardList" class="nav-link">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a href="/StudyCafeManagement/notice/NoticeList?user_id=${sessionScope.user_id}" class="nav-link">공지사항</a>
            </li>
            <li class="nav-item">
                <a href="/StudyCafeManagement/message/Chat?user_id=${sessionScope.user_id}" class="nav-link">메시지</a>
            </li>
            <li class="nav-item">
                <h3 style = "display:inline">id = ${sessionScope.user_id}</h3>
            </li>
        </ul>
    </header>

<!--    <div class="cafe_menus">-->
<!--        <img src="/StudyCafeManagement/resources/images/logo.jpg" class="logo_image" width="40" height="40">-->
<!--        <a href="/StudyCafeManagement/seat/register?user_id=${sessionScope.user_id}" class="Seat">좌석</a>-->
<!--        <a href="/StudyCafeManagement/product/ProductList" class="Product">상품</a>-->
<!--        <a href="/StudyCafeManagement/board/BoardList" class="Community">커뮤니티</a>-->
<!--        <a href="/StudyCafeManagement/notice/NoticeList?user_id=${sessionScope.user_id}" class="Notice">공지사항</a>-->
<!--        <a href="/StudyCafeManagement/message/Chat?user_id=${sessionScope.user_id}" class="Message">메시지</a>-->
<!--        <h3 style = "display:inline">id = ${sessionScope.user_id}</h3>-->
<!--    </div>-->

</div>
</body>
</html>