<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" href="css/index_style.css">-->

<body>
<div class="container">
    <header>
<!--        <div data-include-path="footer.html"></div>-->
<!--        <script src = "js/header.js"></script>-->

        <div class="nav_container">
            <a href = "/StudyCafeManagement/common/LoginMain">
                <h7 style ="color:white; margin:3px; font-size:40px; font-weight:bold;">베이직 스터디 카페</h7>
            </a>

            <div class="cafe_menus">
                <img src="/img/logo.jpg" class="logo_image" width="40" height="40">
                <a href="/StudyCafeManagement/seat/register?user_id=${sessionScope.user_id}" class="Seat">좌석</a>
                <a href="/StudyCafeManagement/product/ProductList" class="Product">상품</a>
                <a href="/StudyCafeManagement/board/BoardList" class="Community">커뮤니티</a>
                <a href="/StudyCafeManagement/notice/NoticeList?user_id=${sessionScope.user_id}" class="Notice">공지사항</a>
                <a href="/StudyCafeManagement/message/Chat?user_id=${sessionScope.user_id}" class="Message">메시지</a>
                <h3 style = "display:inline">id = ${sessionScope.user_id}</h3>
            </div>
        </div>

    </header>
    <section>
        <div class="section-container">
            <div class="temp-box">
                커뮤니티
                <hr>

                <table class="type01">
                    <tr>
                        <th scope="row">글번호</th>
                        <th scope="row">제목</th>
                        <th scope="row">글쓴이</th>
                        <th scope="row">작성일</th>
                        <th scope="row">조회수</th>
                    </tr>
                    <c:forEach var="board" items="${boardList }">
                        <tr>
                            <td class="even">${board.board_number }</td>
                            <td class="even"><a href="/StudyCafeManagement/board/BoardDetail?board_number=${board.board_number }&user_id=${sessionScope.user_id}
					&writer=${board.user_id }">${board.board_title}</a></td>
                            <td class="even">${board.user_id}</td>
                            <td class="even">
                                <fmt:parseDate value="${board.board_time }" var="today" pattern="yyyy-MM-dd">
                                </fmt:parseDate>
                                <fmt:formatDate value="${today }" pattern="yyyy-MM-dd" />
                            </td>
                            <td class="even">${board.board_readcount}</td>
                        </tr>
                    </c:forEach>
                </table>

                <div>
                    <ul>
                        <c:if test="${boardPageMaker.prev}">
                            <li><a href="LoginMain${boardPageMaker.makeBoardQuery(boardPageMaker.startPage - 1)}">&laquo;</a></li>
                        </c:if>

                        <c:forEach begin="${boardPageMaker.startPage}" end="${boardPageMaker.endPage}" var="idx">
                            <li>
                                <a href="LoginMain${boardPageMaker.makeBoardQuery(idx)}">${idx}</a>
                            </li>
                        </c:forEach>

                        <c:if test="${boardPageMaker.next && boardPageMaker.endPage > 0}">
                            <li><a href="LoginMain${boardPageMaker.makeBoardQuery(boardPageMaker.endPage + 1)}">&raquo;</a></li>
                        </c:if>
                    </ul>
                </div>



            </div>

            <div class="temp-box">
                좌석
                <hr>
                <img src="img/seat.JPG" class="Seat_image" width=230px height=230px
                     style="margin: 50px;"> <input type="button" value="예약"
                                                   onclick="fn_res_form()"
                                                   style="float: center; margin: 50px; font-size: 50px;">

            </div>

            <div class="temp-box">
                로그인
                <hr>
                <section id="loginFormArea">
                    <c:choose>
                        <c:when test="${sessionScope.user_id == null}">
                            <form action="login" method = "POST">
                                <fieldset>
                                    <label for = "id"></label>
                                    <input type="text" id="id" name="id" class="idInput" placeholder="아이디" maxlength="41" value=""><br>
                                    <label for = "password"></label>
                                    <input type = "password" id = "password" name = "password" class="passwdInput" placeholder="비밀번호" maxlength="41" value=""/><br>
                                    <input type = submit class="LoginButton" value = "로그인"/><br>
                                    <a href="findIdForm">아이디 찾기</a>
                                    <span class="bar" aria-hidden="true">|</span>
                                    <a href="findPasswordForm">비밀번호 찾기</a>
                                    <br>
                                    <span class="bar" aria-hidden="true"></span>
                                    <a href="/member/join">회원가입</a>
                                </fieldset>
                            </form>
                        </c:when>
                        <c:otherwise>
                            <br>${sessionScope.user_name}님이 로그인중입니다.<br>
                            <h2>${sessionScope.user_name}(${sessionScope.user_id})님
                                환영합니다.</h2>
                            <a href="${path}/StudyCafeManagement/common/logout">로그아웃</a>
                            <br>
                        </c:otherwise>
                    </c:choose>
                </section>
            </div>

            <div class="temp-box">
                공지사항
                <hr>


                <%-- 	<%
                if (count == 0) {
                %> --%>


                <table class="type01">
                    <tr>
                        <th scope="row">글번호</th>
                        <th scope="row">제목</th>
                        <th scope="row">글쓴이</th>
                        <th scope="row">작성일</th>
                        <th scope="row">조회수</th>
                    </tr>
                    <c:forEach var="notice" items="${noticeList }">
                        <tr>
                            <td class="even">${notice.notice_number }</td>
                            <td class="even"><a href="/StudyCafeManagement/notice/NoticeDetail?notice_number=${notice.notice_number }&user_id=${sessionScope.user_id}">${notice.notice_title}</a></td>
                            <td class="even">${notice.user_id}</td>
                            <td class="even">
                                <fmt:parseDate value="${notice.notice_time }" var="today" pattern="yyyy-MM-dd">
                                </fmt:parseDate>
                                <fmt:formatDate value="${today }" pattern="yyyy-MM-dd" />
                            </td>
                            <td class="even">${notice.notice_readcount}</td>
                        </tr>
                    </c:forEach>
                </table>

                <div>
                    <ul>
                        <c:if test="${noticePageMaker.prev}">
                            <li><a href="LoginMain${noticePageMaker.makeNoticeQuery(noticePageMaker.startPage - 1)}">&laquo;</a></li>
                        </c:if>

                        <c:forEach begin="${noticePageMaker.startPage}" end="${noticePageMaker.endPage}" var="idx">
                            <li>
                                <a href="LoginMain${noticePageMaker.makeNoticeQuery(idx)}">${idx}</a>
                            </li>
                        </c:forEach>

                        <c:if test="${noticePageMaker.next && noticePageMaker.endPage > 0}">
                            <li><a href="LoginMain${noticePageMaker.makeNoticeQuery(noticePageMaker.endPage + 1)}">&raquo;</a></li>
                        </c:if>
                    </ul>
                </div>

            </div>

            <div class="temp-box">
                상품 - BEST
                <hr>

                <table class="type02">
                    <tr
                            style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; border-color: black;">
                        <div>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">BEST1</td>
                        <td style="font-weight: bold;">BEST2</td>
                        <td style="font-weight: bold;">BEST3</td>
                        <td style="font-weight: bold;">BEST4</td>
                    </tr>
                    <tr>
                        <td>이름1</td>
                        <td>이름2</td>
                        <td>이름3</td>
                        <td>이름4</td>
                    </tr>
                    <tr>
                        <td>가격1</td>
                        <td>가격2</td>
                        <td>가격3</td>
                        <td>가격4</td>
                    </tr>
                </table>


            </div>

        </div>
    </section>
</div> <!-- /container -->
</body>
</html>