<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <div th:insert="~{template/styleCss :: css_copy}"></div>
    <!--    <link rel="stylesheet" href="css/index_style.css">-->
</head>

<body>
<div class="container">
    <div th:insert="~{template/header :: header_copy}"></div>
    <section>
        <div class="section-container">
            <div class="temp-box">
                <h3>로그인</h3>
                <hr>
                <section id="loginFormArea">
                    <th:block th:if="${loginMember == null}">
                        <form th:action="login" th:object="${loginMember}" method="Post">
                            <fieldset>
                                <input type="text" id="userId" name="userId" placeholder="아이디" required/><br>
                                <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호"
                                       required/>
                                <br>
                                <button th:onclick="|location.href='@{/member/idquiry}'|"
                                        type="button">아이디 찾기
                                </button>
                                <span class="bar" aria-hidden="true">|</span>
                                <button th:onclick="|location.href='@{/member/pwquiry}'|"
                                        type="button">비밀번호 찾기
                                </button>
                                <br>
                                <button type="submit"> 로그인</button>
                                <span class="bar" aria-hidden="true">|</span>
                                <button th:onclick="|location.href='@{/member/new}'|"
                                        type="button">회원가입
                                </button>


                            </fieldset>
                        </form>
                    </th:block>

                    <th:block th:unless="${loginMember == null}">
                        <h4 th:text="|${loginMember.name}님이 로그인 중 입니다.|"/>
                        <form th:action="@{/logout}" method="post">
                            <button th:onclick="|location.href='@{/logout}'|"
                                    type="submit">로그아웃
                            </button>

                        </form>
                    </th:block>

                </section>
            </div>

            <div class="temp-box">
                <br>
                <h3>공지사항</h3>
                <hr>
                <table class="type01">
                    <tr>
                        <th scope="row">글번호</th>
                        <th scope="row">제목</th>
                        <th scope="row">글쓴이</th>
                        <th scope="row">작성일</th>
                        <th scope="row">조회수</th>
                    </tr>
                    <c:forEach var="notice" items="${noticeList }">
                        <tr>
                            <td class="even">${notice.notice_number }</td>
                            <td class="even"><a
                                    href="/StudyCafeManagement/notice/NoticeDetail?notice_number=${notice.notice_number }&user_id=${sessionScope.user_id}">${notice.notice_title}</a>
                            </td>
                            <td class="even">${notice.user_id}</td>
                            <td class="even">
                                <fmt:parseDate value="${notice.notice_time }" var="today" pattern="yyyy-MM-dd">
                                </fmt:parseDate>
                                <fmt:formatDate value="${today }" pattern="yyyy-MM-dd"/>
                            </td>
                            <td class="even">${notice.notice_readcount}</td>
                        </tr>
                    </c:forEach>
                </table>

                <div>
                    <ul>
                        <c:if test="${noticePageMaker.prev}">
                            <li><a href="LoginMain${noticePageMaker.makeNoticeQuery(noticePageMaker.startPage - 1)}">&laquo;</a>
                            </li>
                        </c:if>

                        <c:forEach begin="${noticePageMaker.startPage}" end="${noticePageMaker.endPage}" var="idx">
                            <li>
                                <a href="LoginMain${noticePageMaker.makeNoticeQuery(idx)}">${idx}</a>
                            </li>
                        </c:forEach>

                        <c:if test="${noticePageMaker.next && noticePageMaker.endPage > 0}">
                            <li><a href="LoginMain${noticePageMaker.makeNoticeQuery(noticePageMaker.endPage + 1)}">&raquo;</a>
                            </li>
                        </c:if>
                    </ul>
                </div>

            </div>

            <div class="temp-box">
                <h3>커뮤니티</h3>
                <hr>
                <table class="type01">
                    <tr>
                        <th scope="row">글번호</th>
                        <th scope="row">제목</th>
                        <th scope="row">글쓴이</th>
                        <th scope="row">작성일</th>
                        <th scope="row">조회수</th>
                    </tr>
                    <c:forEach var="board" items="${boardList }">
                        <tr>
                            <td class="even">${board.board_number }</td>
                            <td class="even"><a href="/StudyCafeManagement/board/BoardDetail?board_number=${board.board_number }&user_id=${sessionScope.user_id}
					&writer=${board.user_id }">${board.board_title}</a></td>
                            <td class="even">${board.user_id}</td>
                            <td class="even">
                                <fmt:parseDate value="${board.board_time }" var="today" pattern="yyyy-MM-dd">
                                </fmt:parseDate>
                                <fmt:formatDate value="${today }" pattern="yyyy-MM-dd"/>
                            </td>
                            <td class="even">${board.board_readcount}</td>
                        </tr>
                    </c:forEach>
                </table>

                <div>
                    <ul>
                        <c:if test="${boardPageMaker.prev}">
                            <li><a href="LoginMain${boardPageMaker.makeBoardQuery(boardPageMaker.startPage - 1)}">&laquo;</a>
                            </li>
                        </c:if>

                        <c:forEach begin="${boardPageMaker.startPage}" end="${boardPageMaker.endPage}" var="idx">
                            <li>
                                <a href="LoginMain${boardPageMaker.makeBoardQuery(idx)}">${idx}</a>
                            </li>
                        </c:forEach>

                        <c:if test="${boardPageMaker.next && boardPageMaker.endPage > 0}">
                            <li>
                                <a href="LoginMain${boardPageMaker.makeBoardQuery(boardPageMaker.endPage + 1)}">&raquo;</a>
                            </li>
                        </c:if>
                    </ul>
                </div>


            </div>


            <div class="temp-box">
                상품 - BEST
                <hr>

                <table class="type02">
                    <tr
                            style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; border-color: black;">
                        <div>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                            <td><img src="" class="logo_image" width="150" height="200">
                            </td>
                        </div>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;">BEST1</td>
                        <td style="font-weight: bold;">BEST2</td>
                        <td style="font-weight: bold;">BEST3</td>
                        <td style="font-weight: bold;">BEST4</td>
                    </tr>
                    <tr>
                        <td>이름1</td>
                        <td>이름2</td>
                        <td>이름3</td>
                        <td>이름4</td>
                    </tr>
                    <tr>
                        <td>가격1</td>
                        <td>가격2</td>
                        <td>가격3</td>
                        <td>가격4</td>
                    </tr>
                </table>

            </div>

            <div class="temp-box">
                좌석
                <hr>
                <img src="img/seat.JPG" class="Seat_image" width=230px height=230px
                     style="margin: 50px;"> <input type="button" value="예약"
                                                   onclick="fn_res_form()"
                                                   style="float: center; margin: 50px; font-size: 50px;">
            </div>

        </div>
    </section>
</div> <!-- /container -->
</body>
</html>