<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <style>
        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        img {
            vertical-align: middle;
        }

    </style>
</head>

<body>
<div th:fragment="header_copy">
    <div style="text-align: center">
        <a href = "/" style="text-decoration: none; font-size:40px; margin:auto;">
            <img src="/img/logo.jpg" class="logo_image" width="50" height="50" margin="auto">
            <b>베이직 스터디 카페</b>
        </a>
    </div>

    <div class="container">
        <header class = "d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a href="/StudyCafeManagement/seat/register?user_id=${sessionScope.user_id}" class="nav-link">좌석</a>
                </li>
                <li class="nav-item">
                    <a href="/StudyCafeManagement/product/ProductList" class="nav-link">상품</a>
                </li>
                <li class="nav-item">
                    <a href="/StudyCafeManagement/board/BoardList" class="nav-link">커뮤니티</a>
                </li>
                <li class="nav-item">
                    <a href="/StudyCafeManagement/notice/NoticeList?user_id=${sessionScope.user_id}" class="nav-link">공지사항</a>
                </li>
                <li class="nav-item">
                    <a href="/StudyCafeManagement/message/Chat?user_id=${sessionScope.user_id}" class="nav-link">메시지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:value="${session.id}">id = ${sessionScope.user_id}</a>
                </li>
            </ul>
        </header>
    </div>
</div>
</body>
</html>